@charset "UTF-8";
@font-face{
	font-family:'bubblegum';
	src:url(../_fonts/bubblegum-sans-regular.otf);
}

body {
	background-color:#f8e5fc;
	font-family:Arial, Helvetica, sans-serif;
	padding:15px 15px;
}
#tudo{
	box-shadow:1px 1px 4px rgba(0, 0, 0, .6);
	width:auto;	
	background-color:#ffffff;	
	border-radius: 20px;
}
.cabecalho{
	color:#3f1434;
	font-family:'bubblegum';
	padding:20px 20px;
	margin:0px 10px;
	text-align: center;
}
p{
	text-align: justify;
	
}
h1{
	text-align: center;
	font-size: 200%;
}
h2{
	text-align: center;
	font-size: 160%;
	color:rgb(74, 72, 72);
}
h3{
	text-align: center;
	font-size: 120%;
	color:rgb(114, 113, 113);
}
h4{
	text-align: center;
	font-size: 100%;
	color:rgb(114, 113, 113);
}

#divmenu{
	text-align: center;
	}
.nav{
	font-size: 50%;	
	margin-bottom: 30px;
	margin-left: -30px;
}
.a:hover, .a:visited{
	color:#eae0ea;
	font-size:8pt;
}
.a:link{
	text-decoration:none;
}
.a:active{
	text-decoration:underline;
	background-color:#00ff00;	
}
.a{
	padding: 5px 10px; 
    margin:0;
    border: 0px solid #f00; 
    background: #903;
    text-decoration: none;
    color:#FFF;
    /* cantos arredondados */
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
	
}
.menu{
	margin: 0;
	padding:0;
}
.limenu{
	list-style: none;
	display:inline-block;
	background-color:#faf4f4;
	margin-top: 20px;
	
	
}
section{
	max-width: 1200px;
	min-width: 00px;
	min-height: 00px;
	padding:15px;
	margin:auto;
}
#conteudo{
	max-width: 1200px;
	min-width: 100px;
	min-height: 100px;
	background-color: #f4f0f0;	
	border:1px solid #606060;
	border-radius: 20px;
	padding:15px;
	margin:auto;
}
#rodape{
	clear:both; /* Limpar configurações anteriores*/
	text-align: center;
	
}

.txt{
	text-align:justify;
	text-indent:30px;
	
}
.txt1{
	text-align:justify;
	
}
.citacao{
	font-size: 0.5em;
	text-align: right;
}
.alignimg{
	text-align: center;
}
.video{
    text-align: center;
    margin: auto;
	max-width: 600px;
	
}
fieldset {
	border: 1px #290404 solid;
	border-radius: 10px;
  }
.tableFinal{
	border: 1px #510c0c solid;
	border-radius: 10px;
}


/*por causa do dimensionamento*/
table{
	margin:auto;
}
/*
#tec{	
	font-family:bubblegum;
	color:darkgray;
}
#sobre{
	font-family:bubblegum;
	color:black;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
#cred{
	font-family:bubblegum;
	color:darkgray;
	padding-top: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
#dataTab{
	text-align: right;
	margin-bottom: 5px;
}
#atual{
	font-family:bubblegum;
	color:darkgray;
	text-align:right;
	padding-top: 0px;
	margin-top: 0px;
}
#tit{
	background-color:#dddddd;
	padding:10px;
}
#tab{
	color:#606060;
	text-align: center;
}

tr, td{
	border:groove;
	border-width: 3px;
}
#col1{
	background-color: #606060;
}
#espec{
	border:groove;
	border-width: 3px;
	width:500px;
}



img#glasspeq{
	position:absolute;
	margin:-80px 0px 0px 800px;
	max-width:100%;
}
figure.foto-legenda{
	position:relative;
	border-style: solid;
	border-width:8px;
	border-color:white;
	box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.363);
	width:auto;
	height:auto;
	
	
}
figure.foto-legenda img{
	width:100%;
	height:100%;
	

}
figure.foto-legenda figcaption{
	opacity:0;
	position:absolute;
	background-color: rgba(0, 0, 0, 0.363);
	top:0px;
	transition:opacity 1s;
	padding:10px 10px;	
	color:white;
	box-sizing: border-box;

}


figure.foto-legenda:hover figcaption{
	opacity:1;
	width:100%;
	height:100%;
}
img#video1, img#video2{
width:100%;
height:100%
}

#on{
	font-family:bubblegum;
}
*/

