@charset "UTF-8";

           ul{
               list-style-type: none;
               margin: 0px;
               padding: 0px;
           }
           a:link, a:visited{
               background-color: #000080;
               color: #ffffff;
               display: block;
               text-align: center;
               text-decoration: none;
               width: 100px;
               font-weight: bold;
               pad: 5px 0px;
           }
           a:hover, a:active{
               background-color: #ff0000;
           }
           li{
               float:left;
           }
           p{
               text-align: justify;
           }
           p.estilo1{
               color: #ff0000;
           }
           p.estilo2{
               background-color: #cecece;
               columns:#0000ff;
               font-style: italic;
               height: 200px;
               overflow: scroll;
           }
           table{
               border-collapse: collapse;

           }
           table, th, td{
                border: 1px solid #0000ff;
           }
           img{
               width: 200px;
               
           }
           .img{
               text-align: center;
           }
          