@charset "UTF-8";

body{
    background-color: #dddddd;
    font-family: Arial, Helvetica, sans-serif; 
       
}
div#tudo{
    max-width:100%;
    height:100%;
    background-color: white; 
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
    margin: 10px;
    padding: 30px;
}
h1{
    text-align: center;
    background-color: darkgray;
    color:rgb(89, 0, 255);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}
#titulo2{
    text-align: center;
    background-color: darkgray;
    color:rgb(89, 0, 255);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}
#MF{
    color:rgb(89, 0, 255);
}

a:link{
    text-decoration: none;
}
#MF:hover{   
   color:rgb(8, 107, 57);
  
}
p#p{
    text-indent: 40px;;
}
img#imgprinc{
    width: 10%;
}

section{
    display:block;
    float: right;
    position: relative;
    margin:10px;
    padding:0px 30px;
    max-width:800px;
    background-color: darkgray;
    color:rgb(89, 0, 255);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}
aside{
    display:block;
    float:left;
    position: relative;    
    padding: 30px 0px;
    background-color: darkgray;
    color:rgb(89, 0, 255);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
    margin:30px;

   
}
footer{
    
    clear:both; /* Limpar configurações anteriores*/
	border-top: 1px solid #606060;
	text-align: center;
}
#botom{
    margin:10px auto;
    text-align:center
}
