@charset "UTF-8";

body{
    background-color: #dddddd;
    font-family: Arial, Helvetica, sans-serif; 
       
}
div#tudo{
    max-width:100%;
    height:100%;
    background-color: white; 
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
    margin: 10px;
    padding: 30px;

}
h1{
    text-align: center;
    background-color: rgb(217, 219, 221);
    color:rgb(89, 0, 255);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}
h4{
    text-align: center;
    background-color: white;
    color:blue;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
	width:auto;
	float:left;
	margin:10px;
	padding:10px;
    border-radius: 10px;
}
#cad:hover{   
   color:rgb(8, 107, 57);  
}
#titulo2{
    text-align: center;
    background-color: rgb(217, 219, 221);;
    color:rgb(89, 0, 255);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}
#MF{
    color:rgb(89, 0, 255);
}
a:link{
    text-decoration: none;
}
#MF:hover{   
   color:rgb(8, 107, 57);  
}
p#p{
    text-indent: 40px;;
}
img#imgprinc{
    width: 10%;
}

section{
    display:block;
    float: left;
    position: relative;
    margin:30px;
    padding:20px 30px;
    max-width:750px;
    background-color: rgb(217, 219, 221);;
    color:rgb(89, 0, 255);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
    border-radius: 30px;
}
aside{
    display:block;
    float:right;
    position: relative;    
    padding: 30px 10px;
    background-color: rgb(217, 219, 221);
    color:rgb(89, 0, 255);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
    border-radius: 30px;
    margin:30px;

   
}
footer{
    
    clear:both; /* Limpar configurações anteriores*/
	border-top: 1px solid #606060;
	text-align: center;
}
#botom{
    text-align: center;
    background-color: rgb(217, 219, 221);
    color:rgb(89, 0, 255);
}
