@charset "UTF-08";

body{
background-color: rgb(78, 40, 40);
font-family: Arial, Helvetica, sans-serif;
}
h1{
    background-color: rgb(19, 5, 68);
    width: 100%;
    color: cornsilk;
    text-align: left;
    border-color: blanchedalmond;
}
#tudo{
    background-color: rgb(109, 95, 160);
    color:black;
    text-align: left;
    width: 500px;
    height: 400px;
    margin:auto;
    border-color: rgb(245, 243, 243);
    border-width: 5px;
    border-style: groove;
    overflow-y: scroll;

}