/*Regras @....*/
@charset "UTF-8";
@font-face {
    font-family:"idroid.otf" ;
    src: url(fontes/idroid.otf);
}
body{
    font-family: "idroid.otf";
    background-image:url(imagens/espaco.jpg);
    background-size: 100%;
    font: size 20px;
}
h1{
    color:rgb(240, 216, 146);
    
}
p{
    text-align:center;
}