@charset "UTF-8"
@font-face {
    font-family: ;
    src: url();
}
body{
    background: rgb(158, 158, 232);
    font: normal 15pt Arial;
}
header{
    color:aliceblue;
    text-align:center;
}
section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow:5px 5px 10px rgb(53, 48, 48);

}
footer{
    color:aliceblue;
    text-align:center;
}
#foto, #msg{
    text-align:center;
}